# assignment 1 day 2 batch7


#1.list

In [1]:
lst=[12.3,78,"mummy",[67,"ant","bee"]]
lst

[12.3, 78, 'mummy', [67, 'ant', 'bee']]

In [2]:
lst.append("payal")

In [3]:
lst

[12.3, 78, 'mummy', [67, 'ant', 'bee'], 'payal']

In [9]:
lst.extend(["number",90,7.8])

In [10]:
lst

[12.3, 78, 'mummy', [67, 'ant', 'bee'], 'payal', 'number', 90, 7.8]

In [17]:
lst.insert(0,"puua")

In [18]:
lst

['puua',
 'puja',
 12.3,
 78,
 'mummy',
 [67, 'ant', 'bee'],
 'payal',
 'number',
 90,
 7.8,
 'puja']

In [19]:
lst.remove("puja")

In [20]:
lst

['puua',
 12.3,
 78,
 'mummy',
 [67, 'ant', 'bee'],
 'payal',
 'number',
 90,
 7.8,
 'puja']

In [21]:
lst.pop(8)

7.8

In [22]:
lst

['puua', 12.3, 78, 'mummy', [67, 'ant', 'bee'], 'payal', 'number', 90, 'puja']

In [4]:
my_dict={'name':'payal','roll-no.':60,'ph-no.':9786780568,'age':'ninteen'}

In [5]:
my_dict

{'name': 'payal', 'roll-no.': 60, 'ph-no.': 9786780568, 'age': 'ninteen'}

In [6]:
my_dict.pop('name')

'payal'

In [12]:
my_dict

{'roll-no.': 60, 'ph-no.': 9786780568, 'age': 'ninteen'}

In [13]:
my_dict.get('roll-no.')

60

In [16]:
my_dict['ph-no.']

9786780568

In [17]:
my_dict.items()

dict_items([('roll-no.', 60), ('ph-no.', 9786780568), ('age', 'ninteen')])

In [18]:
my_dict.keys()

dict_keys(['roll-no.', 'ph-no.', 'age'])

In [19]:
my_dict.values()

dict_values([60, 9786780568, 'ninteen'])

In [20]:
my_dict['name']='payal'

In [21]:
my_dict

{'roll-no.': 60, 'ph-no.': 9786780568, 'age': 'ninteen', 'name': 'payal'}

In [22]:
st={"payal","age","mother",7,8,5,4,3}

In [23]:
st

{3, 4, 5, 7, 8, 'age', 'mother', 'payal'}

In [24]:
st1={"pinky","mommy"}

In [25]:
st1.issubset(st)

False

In [28]:
st2={"payal","age"}

In [29]:
st2.issubset(st)

True

In [30]:
tup=(78,"hello",78.65)

In [31]:
type(tup)

tuple

In [32]:
tup.count("78")

0

In [33]:
tup.index("hello")

1